body {
    margin: 0;
    background-color: #ffffff;
    color: white;
    font-family: sans-serif;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* Lo dejamos fijo al principio */
    top: 0;
    left: 0;
}

#contenido {
    /* Dejamos un espacio arriba del tamaño de la pantalla para que el canvas se vea */
    margin-top: 100vh;
    padding: 50px;
    position: relative;
    z-index: 10;
    background-color: #222222;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gato-container {
    margin-right: 50px;
}

#gato {
    width: 300px;
    opacity: 0;
}

/* El gato empieza invisible */